.book-bike {
	position: relative;
	background: url('@img/mainpage/bg.png') 0 0 / cover no-repeat;
	// .book-bike__container
	&__container {
		display: flex;
		gap: 12px;
	}
	// .book-bike__content
	&__content {
		flex: 0 0 percent(734, 1400);
		@media (max-width: toEm(1180)) {
			flex: 1 1 auto;
			max-width: 600px;
			margin: 0 auto;
		}
	}
	// .book-bike__title
	&__title {
		@include adaptiveValue('margin-bottom', 36, 20, 0, $containerWidth, $mobileSmall);
		text-align: center;
	}
	// .book-bike__form
	&__form {
		position: relative;
		z-index: 1;
	}
	// .book-bike__image
	&__image {
		position: relative;
		flex: 1 1 percent(724, 1400);
		padding-bottom: percent(480, 1400);
		translate: 0% 18%;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		@media (max-width: toEm(1400)) {
			position: absolute;
			right: 0;
			bottom: 0;
			width: percent(724, 1400);
			translate: 0 6%;
			rotate: 1deg;
		}
		@media (max-width: toEm(1180)) {
			padding-bottom: 25%;
			width: 35%;
			right: -6%;
		}
		@media (max-width: toEm(900)) {
			right: -20%;
			padding-bottom: 29%;
			width: 45%;
		}
		@media (max-width: toEm($mobileSmall)) {
			translate: 0 12%;
			rotate: 2deg;
		}
	}
}
.form-book-bike {
	display: flex;
	flex-wrap: wrap;
	@include adaptiveValue('gap', 30, 15, 0, $containerWidth, $mobileSmall);
	@include adaptiveValue('padding', 30, 20, 0, $containerWidth, $mobileSmall);
	background: rgba(255, 255, 255, 0.3);
	border-radius: 24px;
	@media (max-width: toEm(660)) {
		flex-direction: column;
	}
	// .form-book-bike__label
	&__label {
		flex: 1 1 calc(50% - 30px);
	}
	// .form-book-bike__input-title
	&__input-title {
		display: block;
		margin-bottom: 8px;
		font-size: 18px;
		font-weight: 600;
		@media (max-width: toEm(660)) {
			display: none;
		}
	}
	// .form-book-bike__field
	&__field {
		position: relative;
	}
	// .form-book-bike__input
	&__input,
	input {
		border-radius: 8px;
		padding: 14px 24px;
		background-color: #fff;
		border: 1px solid #fff;
		color: rgba(51, 51, 51, 0.8);
		::placeholder {
			color: rgba(51, 51, 51, 0.5);
		}
		&.--form-error {
			border: 1px solid $errorColor;
		}
	}
	.select__title {
		padding: 16.5px 24px !important;
	}
	.select__body {
		border-radius: 8px;
	}
	.iti {
		width: 100%;
		input {
			width: 100%;
		}
	}
	.iti__search-input {
		&:focus {
			outline: none;
		}
	}
	.iti__selected-country-primary {
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: inherit !important;
			}
		}
	}
	&__button {
		margin: 0 auto;
		@media (max-width: toEm(660)) {
			width: 100%;
			padding: 14px 24px;
		}
	}
}
