body::after {
	content: '';
	background-color: rgba(0, 0, 0, 0.65);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s;
	pointer-events: none;
	z-index: 149;
}
[data-fls-popup-open] body::after {
	opacity: 1;
}
[data-fls-popup] {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	&[data-fls-popup-active] {
		z-index: 150;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;
	}
}
[data-fls-popup-active] [data-fls-popup-body] {
	visibility: visible;
	opacity: 1;
	form {
		// transform: rotateY(0);
		animation: open-form ease 0.6s 0.2s forwards;
	}
}
[data-fls-popup-wrapper] {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 800px;
}
[data-fls-popup-body] {
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
	opacity: 0;
	width: 100%;
	max-width: 488px;
	perspective: 800px;
	form {
		// transition: transform 0.6s 0.2s;

		transform: rotateY(35deg);
		opacity: 0;
	}
}

[data-fls-popup-youtube-place] iframe {
	width: 100%;
	aspect-ratio: 16 / 9;
}

@keyframes open-form {
	0% {
		transform: rotateY(35deg);
		opacity: 0;
	}
	100% {
		transform: rotateY(0deg);
		opacity: 1;
	}
}
