.productcard {
	// .productcard__img
	&__img {
		aspect-ratio: 330 / 404;
		max-width: 330px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 24px;
		margin-bottom: 16px;
	}
	// .productcard__content
	&__content {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	// .productcard__title
	&__title {
		font-weight: 700;
		font-size: 24px;
		a {
			@media (any-hover: hover) and (any-pointer: fine) {
				&:hover {
					text-decoration: underline;
					text-underline-offset: 2px;
				}
			}
		}
	}
	// .productcard__coast
	&__coast {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		font-weight: 600;
		color: rgba(51, 51, 51, 0.8);
		span {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			gap: 5px;
			font-size: 24px;
			font-weight: 800;
			color: $primary;
			&::before {
				font-size: 18px;
			}
		}
	}
	// .productcard__tour-info
	&__tour-info {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}
	// .productcard__date
	&__date {
		display: flex;
		align-items: center;
		gap: 6px;
		font-weight: 600;
		font-size: 16px;
		color: $primary;
		// text-transform: uppercase;
		&::before {
			font-size: 20px;
		}
	}
	// .productcard__people
	&__people {
		display: flex;
		align-items: center;
		gap: 6px;
		font-weight: 600;
		font-size: 16px;
		color: $primary;
		&::before {
			font-size: 24px;
		}
		&::after {
			content: 'pp';
			text-transform: uppercase;
		}
	}
	// .productcard__description
	&__description {
		line-height: 144%;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}
}
