<article data-fls-productcard class="[[class]] productcard">
	<a href="#">
		<img src="[[img]]" alt="[[title]]" class='productcard__img'>
	</a>
	<a href="#" class='productcard__title-link'>
		<h3 class='productcard__title'>[[title]]</h3>
	</a>
	<p class="productcard__coast">from <span class='--icon-euro'>[[coast]]</span></p>
	<div class="productcard__tour-info">
		<p class="productcard__date --icon-calender">to be decided</p>
		<p class="productcard__people --icon-people">[[people]]</p>
	</div>
	<p class="productcard__description">[[description]]</p>
</article>