<article data-fls-productcard class="productcard">
	<img src="@img/tour-card/SienaSurroundings.jpg" alt="Siena and Surroundings" class='productcard__img'>
	<div class="productcard__content">
		<h3 class='productcard__title'>Siena and Surroundings</h3>
		<p class="productcard__coast">from <span class='--icon-euro'>34</span></p>
		<div class="productcard__tour-info">
			<p class="productcard__date --icon-calender">to be decided</p>
			<p class="productcard__people --icon-people">5-10</p>
		</div>
		<p class="productcard__description"> Visit the beautiful Siena and the cities that surround it to experience elit amet architecto recusandae quaerat, fuga!</p>
	</div>
</article>