.productcard {
	display: flex;
	flex-direction: column;
	// height: 100%;
	> * {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 12, 8, 0, $containerWidth, $mobileSmall);
		}
	}
	// .productcard__img
	&__img {
		aspect-ratio: 330 / 404;
		max-width: 330px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 24px;
		@include adaptiveValue('margin-bottom', 16, 12, 0, $containerWidth, $mobileSmall);
		@media (max-width: toEm(560)) {
			max-width: 100%;
		}
	}
	// .productcard__title-link
	&__title-link {
	}
	// .productcard__title
	&__title {
		@include adaptiveValue('font-size', 24, 18, 0, $containerWidth, $mobileSmall);
		font-weight: 700;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration: underline 2px;
			}
		}
	}
	// .productcard__coast
	&__coast {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		font-weight: 600;
		color: rgba(51, 51, 51, 0.8);
		span {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			gap: 5px;
			font-size: 24px;
			font-weight: 800;
			color: $primary;
			&::before {
				font-size: 18px;
			}
		}
		@media (max-width: toEm($mobileSmall)) {
			font-size: 16px;
			span {
				font-size: 20px;
				&::before {
					font-size: 16px;
				}
			}
		}
	}
	// .productcard__tour-info
	&__tour-info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 10px;
	}
	// .productcard__date
	&__date {
		display: flex;
		align-items: center;
		gap: 6px;
		font-weight: 600;
		font-size: 16px;
		color: $primary;
		text-transform: uppercase;
		white-space: nowrap;
		&::before {
			font-size: 20px;
		}
	}
	// .productcard__people
	&__people {
		display: flex;
		align-items: center;
		gap: 6px;
		font-weight: 600;
		font-size: 16px;
		color: $primary;
		white-space: nowrap;
		&::before {
			font-size: 24px;
		}
		&::after {
			content: 'pp';
			text-transform: uppercase;
		}
	}
	// .productcard__description
	&__description {
		line-height: 144%;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		@media (max-width: toEm($mobileSmall)) {
			font-size: 16px;
		}
	}
}
