<script type="module" src="@components/pages/account/account.js"></script>
<link rel="stylesheet" href="@components/pages/account/account.scss">
<main class="page page--account --not-bg">
	<section class="account__tickets tickets first-block--offset">
		<div class="tickets__container">
			<h2 data-fls-title class='tickets__title title__secondary'>My Tickets</h2>
			<div class="tickets__table">
				<div class="tickets__header">
					<div class="ticket__col ticket__col--tour">Tour Name</div>
					<div class="ticket__col ticket__col--method">Payment Method</div>
					<div class="ticket__col ticket__col--price">Price</div>
					<div class="ticket__col ticket__col--status">Status</div>
				</div>
				<div class="tickets__body">
					<div class="ticket__row">
						<div class="ticket__info">
							<img src="@img/tour-card/WineTastingTuscany.jpg" alt="Wine tasting In Tuscany" class="ticket__img">
							<div class="ticket__details">
								<h3 data-fls-title class="ticket__name title__third">Wine tasting In Tuscany</h3>
								<div class="ticket__date-time">
									<span class="--icon-calender">21.12.2021</span>
									<span class="--icon-time">10:00</span>
								</div>
							</div>
						</div>
						<div class="ticket__payment">
							<img src="@img/icons/paypal.svg" alt="PayPal" class="ticket__payment-icon">
							<p>PayPal</p>
						</div>
						<div class="ticket__price">$240</div>
						<div class="ticket__status">
							<span class="--icon-upcoming">Upcoming</span>
						</div>
					</div>
					<div class="ticket__row">
						<div class="ticket__info">
							<img src="@img/tour-card/WineTastingTuscany.jpg" alt="Guided tour in Florence" class="ticket__img">
							<div class="ticket__details">
								<h3 data-fls-title class="ticket__name title__third">Guided tour in Florence</h3>
								<div class="ticket__date-time">
									<span class="--icon-calender">15.01.2022</span>
									<span class="--icon-time">09:30</span>
								</div>
							</div>
						</div>
						<div class="ticket__payment">
							<img src="@img/icons/visa.svg" alt="Visa" class="ticket__payment-icon">
							<p>Credit Card</p>
						</div>
						<div class="ticket__price">$180</div>
						<div class="ticket__status">
							<span class="--icon-upcoming">Upcoming</span>
						</div>
					</div>
					<div class="ticket__row">
						<div class="ticket__info">
							<img src="@img/tour-card/WineTastingTuscany.jpg" alt="Cinque Terre Adventure" class="ticket__img">
							<div class="ticket__details">
								<h3 data-fls-title class="ticket__name title__third">Cinque Terre Adventure</h3>
								<time class="ticket__date-time" datetime="2026-10-11T08:00">
									<span class="--icon-calender">10.11.2026</span>
									<span class="--icon-time">08:00</span>
								</time>
							</div>
						</div>
						<div class="ticket__payment">
							<img src="@img/icons/mastercard.svg" alt="Mastercard" class="ticket__payment-icon">
							<p>Mastercard</p>
						</div>
						<div class="ticket__price">$320</div>
						<div class="ticket__status">
							<span class="--icon-ended">Ended</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="account__packages account--block">
		<div class="account__container">
			<header class="account__header">
				<h2 data-fls-title class="account__title title__secondary">Tour Packages</h2>
				<div class="account__slider-buttons">
					<button type="button" class="account__slider-button account__slider-button-prev swiper-button swiper-button-prev"></button>
					<button type="button" class="account__slider-button account__slider-button-next swiper-button swiper-button-next"></button>
				</div>
			</header>
			<div data-fls-slider class="account__slider swiper">
				<div class="account__wrapper swiper-wrapper">
					<each loop='tour in [
					{	"title": "Cinque Terre Tour", "description": "Visiting the 5 Terre is a must, and you can never go there enough.", "img": "@img/tour-card/CinqueTerreTour.jpg", "people": "10-50", "coast": "34" },
					{ "title": "Wine tasting in Tuscany", "description": "The real magic is here where you can enjoy the best Tuscan wine and eat.", "img": "@img/tour-card/WineTastingTuscany.jpg", "people": "10-30", "coast": "45" },
					{	"title": "Siena and Surroundings", "description": "Visit the beautiful Siena and the cities that surround it to experience elit amet architecto recusandae quaerat, fuga!", "img": "@img/tour-card/SienaSurroundings.jpg", "people": "5-10", "coast": "34" },
					{	"title": "Tour of the Lucca Hills", "description": "Visit with us the beautiful hills of Lucca, with a guide who will make good trip", "img": "@img/tour-card/TourLuccaHills.jpg", "people": "5-12", "coast": "34" },
					{ "title": "Gardaland, Verona", "description": "Visit the largest and most fun park in Italy suitable for all of people", "img": "@img/tour-card/GardalandVerona.jpg", "people": "10-50", "coast": "34" },
					{ "title": "Pisa & Lucca", "description": "Visiting the 5 Terre is a must, and you can never go there enough to arrive", "img": "@img/tour-card/PisaLucca.jpg", "people": "10-50", "coast": "34" },
					{ "title": "Florence", "description": "Visit the beautiful Siena and the cities that surround it to experience", "img": "@img/tour-card/Florence.jpg", "people": "5-10", "coast": "34" },
					{ "title": "Lucca Bike Tour", "description": "A tour of the city and its surroundings led by a professional guide.", "img": "@img/tour-card/LuccBikeTour.jpg", "people": "3-10", "coast": "34" }
					]'>
						<div class="account__slide swiper-slide">
							<include src="@components/custom/productcard/productcard.html" locals='{
									"class": "",
									"title": "[[tour.title]]",
									"description": "[[tour.description]]",
									"img": "[[tour.img]]",
									"people": "[[tour.people]]",
									"coast": "[[tour.coast]]"
								}'>
						</div>
					</each>
				</div>
			</div>
		</div>
	</section>
</main>