//<QUANTITY>
// Сніппет (HTML): qa
.quantity {
	display: flex;
	width: 150px;
	height: 50px;
	border: 1px solid #efefef;
	border-radius: 6px;

	// .quantity__button
	&__button {
		flex: 0 0 50px;
		position: relative;
		cursor: pointer;
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: calc(50% - 3px);
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: $mainColor;
			width: 16px;
			height: 2px;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					background-color: $primary;
				}
			}
		}
		// .quantity__button_plus
		&--plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&--minus {
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			height: 100%;
			width: 100%;
			background: #efefef;
			color: $mainColor;
			text-align: center;
			font-weight: 600;
			font-size: 24px;
		}
	}
}
