// Базові стилі спойлерів
// Сніппет (HTML): spoller

[data-fls-spollers] {
	details {
	}
	summary {
		list-style: none;
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
	}
}

// Блок зі спойлерами
.spollers {
	display: grid;
	gap: 15px;
}
// Спойлер
.spollers__item {
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	position: relative;
	list-style: none;
	&::marker,
	&::-webkit-details-marker {
		display: none;
	}
	.--spoller-init & {
		cursor: pointer;
		&::after {
			content: '\f122';
			font-family: iconfont;
			font-size: 14px;
			font-weight: 400;
			position: absolute;
			right: -20px;
			top: 0;
			transition: transform 0.5s;
		}

		&.--spoller-active {
			&::after {
				right: 0;
				transform: rotate(180deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
}
