<script type="module" src="@components/pages/tour-detail/tour-detail.js"></script>
<link rel="stylesheet" href="@components/pages/tour-detail/tour-detail.scss">
<main class="page page--tour-detail tour-detail --not-bg">
	<nav class="tour-detail__nav tour-nav first-block--offset">
		<div class="tour-nav__container">
			<include src="@components/custom/link/link.html" locals='{
				"class": "tour-nav__link--back --icon-long_back_arrow",
				"text": "Back",
				"link": "javascript:history.back()"
			}'></include>
		</div>
	</nav>
	<section class="tour-detail__main-info tour-main-info">
		<div class="tour-main-info__container">
			<div data-fls-slider class="tour-main-info__sliders">
				<div class="tour-main-info__slider swiper">
					<div class="tour-main-info__swiper swiper-wrapper">
						<div class="tour-main-info__slide swiper-slide">
							<img src="@img/tours/WineTuscany/1.jpg" alt="slider image" />
						</div>
						<div class="tour-main-info__slide swiper-slide">
							<img src="@img/tours/WineTuscany/2.jpg" alt="slider image" />
						</div>
						<div class="tour-main-info__slide swiper-slide">
							<img src="@img/tours/WineTuscany/3.jpg" alt="slider image" />
						</div>
						<div class="tour-main-info__slide swiper-slide">
							<img src="@img/tours/WineTuscany/4.jpg" alt="slider image" />
						</div>
						<div class="tour-main-info__slide swiper-slide">
							<img src="@img/tours/WineTuscany/5.jpg" alt="slider image" />
						</div>
						<div class="tour-main-info__slide swiper-slide">
							<img src="@img/tours/WineTuscany/6.jpg" alt="slider image" />
						</div>
					</div>
				</div>
				<div class="tour-main-info__thumbs tour-thumbs-images swiper">
					<div class="tour-thumbs-images__swiper swiper-wrapper">
						<div class="tour-thumbs-images__slide swiper-slide">
							<img src="@img/tours/WineTuscany/1.jpg" alt="thumb slider image" />
						</div>
						<div class="tour-thumbs-images__slide swiper-slide">
							<img src="@img/tours/WineTuscany/2.jpg" alt="thumb slider image" />
						</div>
						<div class="tour-thumbs-images__slide swiper-slide">
							<img src="@img/tours/WineTuscany/3.jpg" alt="thumb slider image" />
						</div>
						<div class="tour-thumbs-images__slide swiper-slide">
							<img src="@img/tours/WineTuscany/4.jpg" alt="thumb slider image" />
						</div>
						<div class="tour-thumbs-images__slide swiper-slide">
							<img src="@img/tours/WineTuscany/5.jpg" alt="thumb slider image" />
						</div>
						<div class="tour-thumbs-images__slide swiper-slide">
							<img src="@img/tours/WineTuscany/6.jpg" alt="thumb slider image" />
						</div>
					</div>
				</div>
			</div>
			<div class="tour-main-info__content">
				<h1 data-fls-title data-fls-dynamic=".tour-main-info__container, 991.98, 0" class='tour-main-info__title title__primary'>Wine tasting In Tuscany</h1>
				<div data-fls-title data-fls-dynamic=".tour-main-info__container, 991.98, 1" class="tour-main-info__coast">
					<p>from</p>
					<span>34</span>
				</div>
				<div class="tour-main-info__description">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
				</div>
				<form id='tour-form' class='tour-main-info__form tour-form' data-fls-form="dev" method="POST" action="php/sendmail" method="POST">
					<div class="tour-form__field tour-form__field--date">
						<span>Select a date</span>
						<label data-datepicker-open class='datepicker-wrapper'>
							<input data-fls-datepicker autocomplete="off" type="text" name="tour-form[date]" data-error="Chose date" placeholder='Date' class="datepicker">
						</label>
					</div>
					<div class="tour-form__field tour-form__field--time">
						<span>Time</span>
						<select data-fls-select class='select--bg' name="tour-form[time]" data-error="Chose time">
							<option value="" disabled selected hidden>Select the time</option>
							<option value="13:00">1:00 am</option>
							<option value="14:00">2:00 am</option>
							<option value="15:00">3:00 am</option>
							<option value="16:00">4:00 am</option>
							<option value="17:00">5:00 am</option>
						</select>
					</div>
					<button type="submit" class="tour-form__button button">Buy Now</button>
				</form>
			</div>
		</div>
	</section>
	<section class="tour-detail__details details tour-detail--block">
		<div class="details__container">
			<h2 data-fls-title class='details__title title__secondary'>Details</h2>
			<div class="details__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
			<ul class="details__list">
				<li class="details__item --icon-people"><b>Number of group:</b> 15-30</li>
				<li class="details__item --icon-duration"><b>Duration:</b> 15 hours and 45 minutes</li>
				<li class="details__item --icon-location"><b>Departuring and arriving areas:</b> Lucca</li>
				<li class="details__item --icon-guide"><b>Guide service:</b> Included</li>
				<li class="details__item --icon-language"><b>Language:</b> English, Italian</li>
				<li class="details__item --icon-ticket"><b>Entry Fees:</b> lorem ipsum</li>
				<li class="details__item --icon-bus"><b>EntryTransportation:</b> Bus</li>
			</ul>
		</div>
	</section>
	<section class="tour-detail__comments-block tour-detail--block comments-block">
		<include src="@components/custom/comments-block/comments-block.html"></include>
	</section>
</main>