.tour-detail--block {
	@include adaptiveValue('padding-block', 60, 40);
}
//*  ===========================
//*   first block
//*  ===========================
.tour-nav {
	// .tour-nav__container
	&__container {
		@include adaptiveValue('padding-top', 50, 0, 0, $containerWidth, $mobileSmall);
	}
	// .tour-nav__link--back
	&__link--back {
		flex-direction: row;
		@include adaptiveValue('font-size', 18, 16);
		color: rgba(51, 51, 51, 0.6);
		&::before {
			rotate: 0deg;
		}
		span {
			&::before,
			&::after {
				color: rgba(51, 51, 51, 0.6);
			}
		}
	}
	@media (max-width: toEm($tablet)) {
		padding-bottom: 0;
		&__link--back {
			display: none;
		}
	}
}

.tour-main-info {
	@include adaptiveValue('padding-bottom', 60, 30);
	// .tour-main-info__container
	&__container {
		display: flex;
		@include adaptiveValue('gap', 40, 20);
		@media (max-width: toEm(1400)) {
			align-items: flex-start;
		}
		@media (max-width: toEm($tablet)) {
			flex-direction: column;
			gap: 0;
		}
	}
	// .tour-main-info__sliders
	&__sliders {
		display: grid;
		gap: 16px;
		flex: 0 0 percent(680, $containerWidth);
		@media (max-width: toEm($tablet)) {
			margin-bottom: 16px;
		}
	}
	// .tour-main-info__slider
	&__slider {
	}
	// .tour-main-info__swiper
	&__swiper {
	}
	// .tour-main-info__slide
	&__slide {
		position: relative;
		padding-bottom: percent(460, 680);
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: toEm($mobile)) {
			padding-bottom: 80%;
		}
	}
	// .tour-main-info__thumbs
	&__thumbs {
	}
	// .tour-main-info__content
	&__content {
		flex: 1 1 auto;
	}
	// .tour-main-info__title
	&__title {
		margin-bottom: 16px;
	}
	// .tour-main-info__coast
	&__coast {
		display: flex;
		align-items: center;
		gap: 16px;
		margin-bottom: 16px;
		p {
			font-weight: 600;
			@include adaptiveValue('font-size', 24, 20);
			color: rgba(51, 51, 51, 0.8);
		}
		span {
			display: flex;
			align-items: center;
			gap: 5px;
			font-weight: 800;
			@include adaptiveValue('font-size', 32, 28);
			color: $primary;
			&::after {
				content: '\f11d';
				font-family: iconfont;
				@include adaptiveValue('font-size', 24, 20);
			}
		}
	}
	// .tour-main-info__description
	&__description {
		@include adaptiveValue('font-size', 18, 16);
		line-height: 144%;
		color: rgba(51, 51, 51, 0.6);
		margin-bottom: 21px;
	}
	// .tour-main-info__form
	&__form {
	}
}

.tour-thumbs-images {
	// .tour-thumbs-images__swiper
	&__swiper {
	}
	// .tour-thumbs-images__slide
	&__slide {
		position: relative;
		padding-bottom: percent(141, 700);
		opacity: 0.65;
		transition: all 0.3s ease 0s;
		cursor: pointer;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&.swiper-slide-thumb-active {
			opacity: 1;
		}
		@media (max-width: toEm(1400)) {
			// padding-bottom: 3%;
		}
	}
}

.tour-form {
	// .tour-form__field
	&__field {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		> span {
			display: block;
			margin-bottom: 8px;
			font-weight: 600;
		}
	}
	// .tour-form__field--date
	&__field--date {
		.qs-datepicker-container,
		.qs-overlay {
			max-width: 302px;
			@media (max-width: toEm($mobile)) {
				max-width: 100%;
			}
		}
	}
	// .tour-form__field--time
	&__field--time {
		max-width: 302px;
		span {
			font-size: 16px;
		}
		.select__body {
			margin-top: 5px;
		}
		.select__title {
			border: 1px solid rgba(51, 51, 51, 0.2);
			border-radius: 8px;
		}
		@media (max-width: toEm($mobile)) {
			max-width: 100%;
		}
	}
	// .tour-form__button
	&__button {
		min-width: 302px;
		@media (max-width: toEm($mobile)) {
			min-width: 100%;
		}
	}
}

//*  ===========================
//*  details
//*  ===========================
.details {
	// .details__container
	&__container {
	}
	// .details__title
	&__title {
		@include adaptiveValue('margin-bottom', 32, 20);
	}
	// .details__description
	&__description {
		@include adaptiveValue('margin-bottom', 32, 20);
		@include adaptiveValue('font-size', 18, 16);
		line-height: 167%;
		color: #000;
	}
	// .details__list
	&__list {
		li:not(:last-child) {
			@include adaptiveValue('margin-bottom', 20, 12);
		}
	}
	// .details__item
	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
		line-height: 144%;
		&::before {
			flex: 0 0 24px;
			height: 24px;
			font-size: 24px;
			color: $primary;
		}
	}
}
