.checkbox {
	display: inline-block;
	position: relative;
	&:not(:last-child) {
		// margin-bottom: 5px;
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus-visible + .checkbox__text {
			outline: 1px solid #000;
		}
		&:checked + .checkbox__text:after {
			transform: scale(1);
		}
		&:checked + .checkbox__text:before {
			border: 1px solid $primary;
		}
	}
	// .checkbox__text
	&__text {
		cursor: pointer;
		position: relative;
		gap: 10px;
		display: inline-flex;
		align-items: center;
		font-size: 14px;
		color: rgba(51, 51, 51, 0.6);
		user-select: none;

		a {
			color: #fa8b02;

			&:hover {
				text-decoration: underline;
			}
		}

		&:before {
			content: '';
			transition: border 0.3s;
			border-radius: 3px;
			align-self: flex-start;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 1px solid #a7a9ac;
		}
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			transform: scale(0);
			width: 10px;
			height: 10px;
			border-radius: 3px;
			background-color: $primary;
			position: absolute;
			left: 5px;
			top: 5px;
		}
	}
}
