.swiper {
	overflow: hidden;
}
.swiper-initialized {
	touch-action: pan-y;
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
	cursor: grab;
	user-select: none;
}
.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}
.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}
.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: $primary;
	border: 1px solid $primary;
	transition: background-color 0.5s;
	svg {
		height: 14px;
		width: 7px;
		color: #fff;
		transition: color 0.5s;
	}
	@media (any-hover: hover) and (any-pointer: fine) {
		&:hover {
			background-color: rgba(255, 255, 255, 0);
			svg {
				color: $primary;
			}
		}
	}
}
.swiper-button-disabled {
	background-color: #efefef;
	border-color: #efefef;
	cursor: not-allowed;
	pointer-events: none;
	svg {
		color: $mainColor;
	}
}
.swiper-button-prev {
	svg {
		rotate: 180deg;
	}
}
.swiper-button-lock {
	display: none !important;
}
