:root {
	/* Font */
	--font-family: 'Open Sans', sans-serif;
	--second-family: 'Inter', sans-serif;
	--third-family: 'Poppins', sans-serif;
	--title-family: 'Podcast', sans-serif;

	/* Colors */
	--primary: #fa8b02;
	--default: #333;
	--inverse: #fff;
	--bin: #efefef;
}
