.form {
	border-radius: 24px;
	padding: 40px 59px;
	max-width: 488px;
	width: 100%;
	box-shadow: 0 4px 20px 0 rgba(255, 255, 255, 0.25);
	background: #fff;

	> * {
		margin-bottom: 20px;
	}
	> *:last-child {
		margin-bottom: 0;
	}

	@media (max-width: toEm($mobileSmall)) {
		padding: 30px 15px;
	}

	&__icon {
		margin: 0 auto;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-radius: 100%;
		background-color: #fddcb3;
		margin-bottom: 24px;
		&::before {
			color: $primary;
		}
	}
	&__description {
		font-size: 16px;
		line-height: 1.4;
		text-align: center;
	}
	&__text-link {
		font-size: 14px;
		color: rgba(51, 51, 51, 0.6);
		&--forgot-password {
			display: block;
			text-align: right;
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.button {
		width: 100%;
	}
	&__btn-back {
		width: fit-content;
		margin: 0 auto;
		font-weight: 600;
		font-size: 14px;
		text-align: center;
		color: rgba(51, 51, 51, 0.4);
		transition: color 0.3s;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: rgba(51, 51, 51, 0.6);
			}
		}
	}
}

.form-heading {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 10px;

	&:has(.form-heading__title--center) {
		display: block;
	}

	&__title {
		@include adaptiveValue('font-size', 32, 24);
		font-weight: 700;
		&--center {
			text-align: center;
		}
	}

	&__close-btn {
		&::before {
			font-weight: 900;
			transform: rotate(-45deg);
			font-size: 26px;
			opacity: 0.6;
			transition: opacity 0.3s;
		}

		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}
	}
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.form-field {
		position: relative;
		display: flex;
	}

	span {
		font-weight: 600;
		opacity: 0.6;
	}
}
