// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/* Font */
$fontFamily: 'Open Sans', sans-serif;
$secondFamily: 'Inter', sans-serif;
$thirdFamily: 'Poppins', sans-serif;
$titleFamily: 'Podcast', sans-serif;

/* Font Size */
$fontSize: 18;

// Colour palette
$mainColor: #333;
$errorColor: #fd4444;
$primary: #fa8b02;
$inverse: #fff;
$bin: #efefef;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1420;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; // Телефони L
$mobileSmall: 479.98; // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
