.packages {
	// .packages__tour-packages
	&__tour-packages {
	}
	// .packages__book-bike
	&__book-bike {
	}
	// .packages__comments-block
	&__comments-block {
	}
	// .packages--block
	&--block {
		@include adaptiveValue('padding-top', 60, 40, 0, $containerWidth, $mobileSmall);
		@include adaptiveValue('padding-bottom', 60, 40, 0, $containerWidth, $mobileSmall);
	}
}

//*  ===========================
//*   tour-packages
//*  ===========================
.tour-packages {
	// .tour-packages__container
	&__container {
		@include adaptiveValue('padding-top', 100, 10);
	}
	// .tour-packages__title
	&__title {
		@include adaptiveValue('margin-bottom', 60, 30, 0, $containerWidth, $mobileSmall);
	}
	// .tour-packages__slider
	&__slider {
	}
	// .tour-packages__wrapper
	&__wrapper {
		display: flex;
		// flex-wrap: wrap;
		// gap: 33px;
		// @media (max-width: toEm(1199.98)) {
		// 	gap: 20px;
		// }
	}
	// .tour-packages__slide
	&__slide {
		// flex: 0 0 calc((100% - 99px) / 4);
		// @media (max-width: toEm(1199.98)) {
		// 	flex: 0 0 calc((100% - 40px) / 3);
		// }
		// @media (max-width: toEm($tablet)) {
		// 	flex: 0 0 calc((100% - 20px) / 2);
		// }
		// @media (max-width: toEm($mobileSmall)) {
		// 	flex: 0 0 100%;
		// }
	}
}

.packages {
	// .packages__services
	&__services {
	}
}
.packages--block {
}

//*  ===========================
//*   services
//*  ===========================
.services {
	@include adaptiveValue('padding-top', 60, 20, 0, $containerWidth, $mobileSmall);
	// .services__container
	&__container {
	}
	// .services__title
	&__title {
		@include adaptiveValue('margin-bottom', 52, 30, 0, $containerWidth, $mobileSmall);
	}
	// .services__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
	// .services__item
	&__item {
		flex: 0 0 calc((100% - 40px) / 3);
		@media (max-width: toEm($tablet)) {
			flex: 0 0 calc((100% - 20px) / 2);
		}
		@media (max-width: toEm(600)) {
			flex: 0 0 100%;
		}
	}
}

.service-item {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	// .service-item__image
	&__image {
		position: relative;
		@include adaptiveValue('margin-bottom', 20, 15);
		padding-bottom: percent(302, 460);
		overflow: hidden;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			transition: scale 0.3s;
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				img {
					scale: 1.05;
				}
			}
		}
	}
	// .service-item__content
	&__content {
		flex: 1 1 auto;
	}
	// .service-item__title
	&__title {
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .service-item__description
	&__description {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		margin: 12px 0;
		@include adaptiveValue('font-size', 18, 16);
		line-height: 144%;
		@media (max-width: toEm($mobile)) {
			margin: 10px 0;
		}
	}
	// .service-item__link
	&__link {
	}
}
