<link rel="stylesheet" href="@components/layout/popup/popup.scss">
<div data-fls-popup="popup" aria-hidden="true" class="popup">
	<div data-fls-popup-wrapper class="popup__wrapper">
		<div data-fls-popup-body class="popup__body">
			<button data-fls-popup-close type="button" class="popup__close"><svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path opacity="0.850056" d="M1.73333 1.48883L21.5469 21.0288" stroke="#979797" stroke-linecap="square" />
					<path opacity="0.850056" d="M21.2667 1.48883L1.45309 21.0288" stroke="#979797" stroke-linecap="square" />
				</svg></button>
			<form class='form sign-up-form' data-fls-form="dev" data-fls-form-popup="SignUpPopup" method="POST" action="php/sendmail" method="POST">
				<div class="form__icon --icon-key"></div>
				<div class="sign-up-form__heading form-heading">
					<h2 class='form-heading__title'>Create Account</h2>
					<button type='button' class='form-heading__close-btn --icon-plus'></button>
				</div>
				<label class='sign-up-form__input-wrapper input-wrapper'>
					<span>Name and Surname</span>
					<div class='sign-up-form__field form-field'>
						<input data-fls-form-validatenow data-fls-input required type="text" name="SignUpForm[name]" data-fls-form-errtext="Name required" placeholder="Enter your name and surname" class="sign-up-form__input input">
					</div>
				</label>
				<label class='sign-up-form__input-wrapper input-wrapper'>
					<span>Email Address</span>
					<div class='sign-up-form__field form-field'>
						<input data-fls-form-validatenow data-fls-input required type="email" name="SignUpForm[email]" data-fls-form-errtext="Enter a correct email" placeholder="Enter your email address" class="sign-up-form__input input">
					</div>
				</label>
				<label class='sign-up-form__input-wrapper input-wrapper'>
					<span>Password</span>
					<div class='sign-up-form__field form-field'>
						<input data-fls-form-validatenow data-fls-input required autocomplete="off" type="password" name="SignUpForm[password]" data-fls-form-errtext="Password required" placeholder="Enter your password" class="sign-up-form__input input">
						<button type='button' data-fls-input-viewpass class='password-switcher'></button>
					</div>
				</label>
				<label data-fls-checkbox class="sign-up-form__checkbox checkbox">
					<input data-fls-form-validatenow required data-fls-form-errtext="Agree to the terms of use" class="checkbox__input" type="checkbox" value="1" name="SignUpForm[agreements]">
					<span class="checkbox__text">
						<p>I agree with <a href="#">Terms</a> and <a href="#">Privacy</a></p>
					</span>
				</label>
				<button data-fls-button type="submit" class="sign-up-form__button button">Sign Up</button>
				<p data-fls-formtext class='sign-up-form__text'>Already have an account? <a href="#">Log In</a></p>
			</form>
		</div>
	</div>
</div>