<header data-fls-lp data-fls-header data-fls-header-scroll='30' class="header">
	<div class="header__container">
		<a href="./" class="header__logo-link"><img src="@img/icons/logo.png" alt="logo" class=' header__logo logo'></a>
		<include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include>
		<div class="header__buttons">
			<select data-fls-select name="form[]" data-fls-select-modif="form" class='header__lang-switcher select--switcher select--light-font'>
				<option value="eng" selected>En</option>
				<option value="pl">Pl</option>
				<option value="ru">Ru</option>
			</select>
			<a href='#' data-fls-button type="button" class="header__button button-text">Login</a>
			<a href='#' data-fls-button type="button" class="header__button button">Sign Up</a>
		</div>
	</div>
</header>