<article data-fls-shopproductcard class="shop-product-card" style='width: 340px'>
	<img src="@img/services/taxi.jpg" alt="taxi" class='shop-product-card__img'>
	<div class="shop-product-card__content">
		<header class="shop-product-card__header">
			<h3 class='shop-product-card__title'>TRANSFER</h3>
			<p class="shop-product-card__coast --icon-euro">10</p>
		</header>
		<ul class="shop-product-card__benifits">
			<li class="shop-product-card__benifit --icon-driver">Personal Driver</li>
			<li class="shop-product-card__benifit --icon-any_location">Wherever You Want</li>
			<li class="shop-product-card__benifit --icon-best_price">At the best price</li>
			<li class="shop-product-card__benifit --icon-support">Guaranteed Support</li>
		</ul>
		<button data-fls-button type='button' class="shop-product-card__button button button--outline-primary button--fw">Book Now</button>
	</div>
</article>