.shop-product-card {
	border: 1px solid #efefef;
	border-radius: 24px;
	// .shop-product-card__img
	&__img {
		border-radius: 24px 24px 0 0;
		aspect-ratio: 340 / 340;
		width: 100%;
		object-fit: cover;
		margin-bottom: 25px;
	}
	// .shop-product-card__content
	&__content {
		padding: 0 25px 25px;
	}
	// .shop-product-card__header
	&__header {
		margin-bottom: 32px;
	}
	// .shop-product-card__title
	&__title {
		font-weight: 800;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 24px;
	}
	// .shop-product-card__coast
	&__coast {
		font-weight: 700;
		font-size: 48px;
		color: $primary;
		&::before {
			font-weight: 400;
			font-size: 20px;
			color: rgba(51, 51, 51, 0.5);
			translate: 0% -24px;
			margin-right: 6.7px;
		}
		&::after {
			content: '/day';
			font-weight: 400;
			font-size: 18px;
			color: rgba(51, 51, 51, 0.6);
			margin-left: 6.7px;
		}
	}
	// .shop-product-card__benifits
	&__benifits {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-bottom: 32px;
	}
	// .shop-product-card__benifit
	&__benifit {
		display: flex;
		align-items: center;
		&::before {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 0 0 24px;
			height: 24px;
			font-size: 24px;
			color: $primary;
			margin-right: 16px;
		}
	}
	// .shop-product-card__button
	&__button {
	}
}
