<script type="module" src="@components/pages/about/about.js"></script>
<link rel="stylesheet" href="@components/pages/about/about.scss">
<main class="page page--about">
	<section class="first-block">
		<div class="first-block__container">
			<h1 data-fls-title class="first-block__title title__main">Our team cares about your full relax</h1>
			<h2 data-fls-title class="first-block__sub-title title__third">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</h2>
			<a href='packages' data-fls-button class='first-block__button button button--outline'>View our Tour Packages</a>
		</div>
	</section>
	<section class="about__about-us about--block about-us">
		<div class="about-us__container">
			<div data-fls-digit-block class="about-us__digitblock digitblock">
				<img class='about-us__img digitblock__img' src="@img/about/lucca-center.jpg" alt="woman">
				<div class="digitblock__content">
					<h4 class='digitblock__subtitle title__quaternary'>Welcome to our site!</h4>
					<h2 data-fls-title class='digitblock__title title__secondary'>We Are The Center Of Lucca To Offer You The Best</h2>
					<p class="digitblock__description">We are right in the center of Lucca to offer you the real city life! With years of experience in practically every tourism sector, with us you can find complete packages at the lowest price, to travel and learn and have fun all without worries and without stress. What are you waiting for, book a bright evening, a trip to beautiful Tuscany or a personal tour for you!</p>
					<div data-fls-watcher class="digitblock__digcounter digcounter">
						<div class="digcounter__item">
							<div data-fls-digcounter class="digcounter__amount">20</div>
							<div class="digcounter__description">Years Experience</div>
						</div>
						<div class="digcounter__item">
							<div data-fls-digcounter class="digcounter__amount">100</div>
							<div class="digcounter__description">Happy Customer</div>
						</div>
						<div class="digcounter__item">
							<div data-fls-digcounter class="digcounter__amount">15</div>
							<div class="digcounter__description">Choice of Services</div>
						</div>
						<div class="digcounter__item">
							<div data-fls-digcounter class="digcounter__amount">10</div>
							<div class="digcounter__description">Professional Guides</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class='about__benefits benefits'>
		<ul class="benefits__container">
			<li class="benefits__item --icon-cmplete_package">Complete Packages For All Your Wishes</li>
			<li class="benefits__item --icon-experience">Over 30 Years Of Experience</li>
			<li class="benefits__item --icon-guide">Expert Guides For You</li>
			<li class="benefits__item --icon-best_price">Guaranteed fun at the best price!</li>
		</ul>
	</div>
	<section class="about__comments-block about--block comments-block">
		<include src="@components/custom/comments-block/comments-block.html"></include>
	</section>
</main>