.home {
	&__first-block {
	}
	&__destination {
		@include adaptiveValue('padding-top', 120, 40, 0, $containerWidth, $mobileSmall);
	}
	&__about {
	}
	&__offer {
	}
	&__services {
	}
	&--block {
		@include adaptiveValue('padding-top', 60, 40, 0, $containerWidth, $mobileSmall);
		@include adaptiveValue('padding-bottom', 60, 40, 0, $containerWidth, $mobileSmall);
	}
}

//*  ===========================
//*   first-block
//*  ===========================
.first-block {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100lvh;
	background: url('@img/mainpage/main.jpg') 0 0 / cover no-repeat;
	@media (min-width: toEm($mobile)) {
		padding-top: 0;
	}
	@media (max-width: toEm($mobile)) and (max-height: toEm(880)) {
		height: auto;
	}

	// .first-block__container
	&__container {
		width: 100%;
	}
	// .first-block__title
	&__title {
		margin-bottom: 16px;
	}
	// .first-block__sub-title
	&__sub-title {
		text-align: center;
		color: #fff;
		@include adaptiveValue('margin-bottom', 60, 20, 0, $containerWidth, $mobileSmall);
		@media (max-width: toEm(400)) {
			font-weight: 600;
			font-size: 16px;
		}
	}
	// .first-block__tabs
	&__tabs {
	}
}

.home-tabs {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 12px;
	@media (max-width: toEm(1400)) {
		padding: 12px;
	}
	@media (max-width: toEm($mobile)) {
		padding: 0;
		background-color: inherit;
	}
	// .home-tabs__navigation
	&__navigation {
		display: flex;
		:first-child {
			border-top-left-radius: 12px;
		}
		:last-child {
			border-top-right-radius: 12px;
		}
		@media (min-width: toEm($mobile)) {
			align-items: center;
		}
	}
	// .home-tabs__title
	&__title {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 16px;
		font-weight: 600;
		color: #fff;
		background-color: rgba(255, 255, 255, 0.4);
		&::before {
			font-size: 24px;
			height: 24px;
			flex: 0 0 24px;
		}
		@media (max-width: toEm($mobile)) {
			flex: 0 0 50%;
		}
		@media (max-width: toEm($mobileSmall)) {
			gap: 5px;
		}
	}
	&__title.--tab-active {
		color: $primary;
		background-color: #fff;
	}
	// .home-tabs__content
	&__content {
		border-radius: 0 12px 12px 12px;
		padding: 12px;
		background-color: #fff;
		@media (max-width: toEm($mobile)) {
			border-radius: 0 0 12px 12px;
		}
	}
	// .home-tabs__body
	&__body {
	}
	// .home-tabs__form-search
	&__form-search {
	}
}

.search-form {
	display: flex;
	align-items: center;
	@media (max-width: toEm($smallPc)) {
		align-items: flex-start;
		gap: 20px;
	}
	@media (max-width: toEm($mobile)) {
		flex-direction: column;
	}
	// .search-form__content
	&__content {
		flex: 1 1 auto;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		align-items: flex-end;
		@include adaptiveValue('gap', 24, 4, 0, $containerWidth, 1400);
		@media (max-width: toEm($smallPc)) {
			grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
			align-items: flex-start;
		}
		@media (max-width: toEm($mobile)) {
			grid-template-columns: 1fr;
			width: 100%;
		}
	}
	// .search-form__select-wrapper
	&__field-wrapper {
		position: relative;
		padding: 16px;
		@media (max-width: toEm(1400)) {
			padding: 8px;
		}
		&:not(:last-child) {
			&::after {
				content: '';
				position: absolute;
				@include adaptiveValue('right', -12, -2, 0, $containerWidth, 1400);
				top: 50%;
				width: 1px;
				height: 50px;
				background-color: rgba(51, 51, 51, 0.1);
				translate: 0% -50%;
				@media (max-width: toEm($mobile)) {
					height: 1px;
					width: 100%;
					top: 100%;
					translate: 0 0;
				}
			}
		}
	}
	// .search-form__field-title
	&__field-title {
		display: flex;
		align-items: center;
		gap: 10px;
		font-weight: 600;
		&::before {
			font-size: 24px;
			height: 24px;
			flex: 0 0 24px;
		}
	}
	// .search-form__button
	&__button {
		@media (max-width: toEm($mobile)) {
			width: 100%;
		}
	}
}

//*  ===========================
//*   destination
//*  ===========================
.destination {
	// .destination__container
	&__container {
	}
	// .destination__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		@include adaptiveValue('margin-bottom', 57, 20, 0, $containerWidth, $mobileSmall);
	}
	// .destination__title
	&__title {
	}
	// .destination__slider-buttons
	&__slider-buttons {
		display: flex;
		gap: 20px;
		@media (max-width: toEm($mobileSmall)) {
			gap: 10px;
		}
	}
	// .destination__slider-button
	&__slider-button {
		flex: 0 0 50px;
		@media (max-width: toEm($mobileSmall)) {
			flex: 0 0 45px;
			height: 45px;
		}
	}
	// .destination__slider
	&__slider {
	}
	// .destination__wrapper
	&__wrapper {
	}
	// .destination__slide
	&__slide {
	}
}

//*  ===========================
//*   about
//*  ===========================
.about {
	// .about__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		@media (max-width: toEm($tablet)) {
			flex-direction: column-reverse;
		}
		@media (max-width: toEm($mobile)) {
			gap: 20px;
		}
	}
	// .about__img
	&__img {
		flex: 0 0 420;
		aspect-ratio: 420 / 600;
		width: 100%;
		max-width: 450px;
		height: 100%;
		object-fit: cover;
	}
	// .about__content
	&__content {
	}
	// .about__subtitle
	&__subtitle {
		margin-bottom: 6px;
		font-size: 16px;
		color: rgba(51, 51, 51, 0.6);
		text-transform: uppercase;
	}
	// .about__title
	&__title {
	}
	// .about__description
	&__description {
		margin: 32px 0;
		max-width: 700px;
		line-height: 178%;
		@media (max-width: toEm($tablet)) {
			max-width: 100%;
		}
		@media (max-width: toEm($mobile)) {
			margin: 15px 0;
		}
	}
	// .about__digcounter
	&__digcounter {
	}
}
.digcounter {
	display: flex;
	flex-wrap: wrap;
	@include adaptiveValue('gap', 50, 15, 0, $containerWidth, $mobileSmall);
	max-width: 480px;
	@media (max-width: toEm($mobileSmall)) {
		justify-content: space-between;
	}

	// .digcounter__item
	&__item {
		@media (max-width: toEm(430)) {
			flex: 0 0 calc(50% - 15px);
			text-align: center;
		}
	}
	// .digcounter__amount
	&__amount {
		font-weight: 700;
		font-size: 32px;
		color: $primary;
		margin-bottom: 6px;
		line-height: 1;
		&::after {
			content: '+';
		}
	}
	// .digcounter__description
	&__description {
		font-size: 16px;
		line-height: 162%;
		color: rgba(51, 51, 51, 0.6);
		@media (min-width: toEm(431)) {
			max-width: 82px;
		}
	}
}

//*  ===========================
//*   offer
//*  ===========================
.offer {
	position: relative;
	background: url('@img/mainpage/bg.png') 0 0 / cover no-repeat;
	@media (max-width: toEm(760)) {
		overflow: hidden;
	}
	// .offer__container
	&__container {
		display: flex;
		gap: 20px;
		@media (min-width: toEm(1200)) {
			position: relative;
		}
		@media (max-width: toEm(760)) {
			justify-content: center;
		}
	}
	// .offer__content
	&__content {
		flex: 0 1 569px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include adaptiveValue('padding', 30, 20, 0, $containerWidth, $mobileSmall);
		border-radius: 24px;
		background: rgba(255, 255, 255, 0.3);
		text-align: center;
		@media (max-width: toEm($tablet)) {
			flex: 0 1 480px;
		}
	}
	// .offer__img
	&__img {
		position: absolute;
		right: 0;
		bottom: 0;
		aspect-ratio: 427 / 600;
		max-width: 427px;
		width: 100%;
		height: 600px;
		object-fit: cover;
		@media (min-width: toEm(1200)) {
			@include adaptiveValue('bottom', -60, -30, 0, $containerWidth, $mobileSmall);
		}
		@media (max-width: toEm(1200)) {
			aspect-ratio: 327 / 460;
			max-width: 327px;
			height: 460px;
		}
		@media (max-width: toEm(760)) {
			right: -2%;
			bottom: -12%;
			max-width: 27%;
			height: 75%;
			object-fit: contain;
		}
		@media (max-width: toEm(600)) {
			right: -3%;
			bottom: -20%;
			max-width: 26%;
			height: 70%;
		}
	}
	// .offer__title
	&__title {
		@media (max-width: toEm(1080)) {
			max-width: 460px;
		}
	}
	// .offer__description
	&__description {
		@include adaptiveValue('margin-top', 32, 18, 0, $containerWidth, $mobileSmall);
		@include adaptiveValue('margin-bottom', 32, 18, 0, $containerWidth, $mobileSmall);
		max-width: 480px;
		@include adaptiveValue('font-size', 18, 16, 0, $containerWidth, 320);
		line-height: 144%;
		color: #000;
		@media (max-width: toEm($tablet)) {
			max-width: 400px;
		}
		@media (max-width: toEm(390)) {
			text-wrap: balance;
		}
	}
	// .offer__button
	&__button {
		width: min-content;
		margin: 0 auto;
	}
}

//*  ===========================
//*   services
//*  ===========================
.services {
	// .services__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue('gap', 33, 20, 0, $containerWidth, $mobileSmall);
		@media (max-width: toEm($tablet)) {
			// max-width: 768px;
		}
	}
	// .services__package
	&__package {
		flex: 1 1 calc(25% - 99px);
		@media (max-width: toEm($mobile)) {
			flex: 1 1 calc(50% - 33px);
		}
		@media (max-width: toEm($mobileSmall)) {
			flex: 1 1 100%;
		}
	}
	// .services__image
	&__image {
		position: relative;
		padding-bottom: math.div(308, 322) * 100%;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			border-radius: 24px;
		}
	}
	// .services__title
	&__title {
		@include adaptiveValue('margin-top', 20, 12);
		@include adaptiveValue('margin-bottom', 12, 8);
	}
	// .services__description
	&__description {
		@include adaptiveValue('font-size', 18, 16);
	}
}

//*  ===========================
//*   .shop-packages
//*  ===========================
.shop-packages {
	// .shop-packages__title
	&__title {
		@include adaptiveValue('margin-bottom', 60, 30);
	}
	// .shop-packages__list
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 1fr));
		gap: 20px;
		@media (max-width: toEm($mobile)) {
			grid-template-columns: repeat(auto-fill, minmax(min(280px, 100%), 1fr));
		}
	}
}
