.page {
	&--home {
	}
}

.home {
	// .home__container
	&__container {
	}
	// .home__first-block
	&__first-block {
	}
}

.first-block {
	background: url('@img/mainpage/main.jpg') 0 0 / cover no-repeat;
	width: 100%;
	height: 100lvh;
}
