<div data-fls-comments-block class="comments-block__container">
	<div class="comments-block__header">
		<h2 data-fls-title class="comments-block__title title__secondary">Happy Customers Says</h2>
		<div class="comments-block__slider-buttons">
			<button type="button" class="comments-block__slider-button comments-block__slider-button-prev swiper-button swiper-button-prev"></button>
			<button type="button" class="comments-block__slider-button comments-block__slider-button-next swiper-button swiper-button-next"></button>
		</div>
	</div>
	<div class="comments-block__slider swiper">
		<div class="comments-block__wrapper swiper-wrapper">
			<article class="comments-block__slide swiper-slide comment">
				<div class="comment__header">
					<img class="comment__img" src="@img/common/customer.png" alt="customer">
					<span class="comment__name">Lyod Gomez</ы>
				</div>
				<div class="comment__descripton">
					<span></span>
					<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
					<span></span>
				</div>
			</article>
			<article class="comments-block__slide swiper-slide comment">
				<div class="comment__header">
					<img class="comment__img" src="@img/common/customer.png" alt="customer">
					<span class="comment__name">Lyod Gomez</ы>
				</div>
				<div class="comment__descripton">
					<span></span>
					<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
					<span></span>
				</div>
			</article>
			<article class="comments-block__slide swiper-slide comment">
				<div class="comment__header">
					<img class="comment__img" src="@img/common/customer.png" alt="customer">
					<span class="comment__name">Lyod Gomez</ы>
				</div>
				<div class="comment__descripton">
					<span></span>
					<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
					<span></span>
				</div>
			</article>
			<article class="comments-block__slide swiper-slide comment">
				<div class="comment__header">
					<img class="comment__img" src="@img/common/customer.png" alt="customer">
					<span class="comment__name">Lyod Gomez</ы>
				</div>
				<div class="comment__descripton">
					<span></span>
					<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
					<span></span>
				</div>
			</article>
		</div>
	</div>
</div>