//<INPUT>
// Сніппет (HTML): inp

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	display: block;
	caret-color: inherit;
	border: 1px solid rgba(51, 51, 51, 0.2);
	border-radius: 8px;
	padding: 14px 24px;
	height: 50px;
	background: #fff;
	font-size: 16px;
	transition: border-color 0.5s;

	@media (max-width: toEm($mobileSmall)) {
		padding: 8px 14px;
	}

	&.--form-focus {
		outline: 1px solid $primary;
	}
	&.--form-error {
		border: 1px solid $errorColor;
	}
}

.input[placeholder]:not([data-fls-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: vertical;
	padding: 0px 0px;
}

[data-fls-input-viewpass] {
	&::after,
	&::before {
		position: absolute;
		top: 50%;
		right: 14px;
		font-family: iconfont;
		font-size: 24px;
		color: #bfbfbf;
		translate: 0% -50%;
	}
}

[data-fls-input-viewpass] {
	&::after,
	&::before {
		transition: color 0.3s;
	}
	&::after {
		content: '\f119';
		opacity: 1;
	}
	&::before {
		content: '\f108';
		opacity: 0;
	}
	@media (any-hover: hover) and (any-pointer: fine) {
		&:hover {
			&::after,
			&::before {
				color: rgba(51, 51, 51, 0.7);
			}
		}
	}
}

[data-fls-input-viewpass].--viewpass-active {
	&::after {
		opacity: 0;
	}
	&::before {
		opacity: 1;
	}
}
