.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: toEm($tablet)) {
			position: fixed;
			width: 100%;
			height: 100svh;
			left: 0;
			top: -100%;
			overflow: auto;
			padding: 200px 15px 30px 15px;
			background-color: rgba(0, 0, 0, 0.8);
			transition: top 0.3s cubic-bezier(0.65, 0, 0.35, 1);
			&::before {
				content: '';
				position: fixed;
				width: 100%;
				height: 138px;
				left: 0;
				top: -100%;
				background: rgb(24, 24, 24, 0.9);
				transition: top 0.3s;
				z-index: 2;
				@media (max-width: toEm($mobile)) {
					height: 94px;
				}
			}
			[data-fls-menu-open] & {
				top: 0;
				&::before {
					top: 0;
				}
			}
			@media (max-width: toEm($mobile)) {
				padding-top: 180px;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@include adaptiveValue('column-gap', 40, 20, 0, $containerWidth, 1200);
		row-gap: 20px;
		@media (max-width: toEm($tablet)) {
			flex-direction: column;
			row-gap: 60px;
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		position: relative;
		font-weight: 600;
		font-size: 20px;
		color: #fff;
		transition: all 0.5s;
		&::after {
			content: '';
			position: absolute;
			bottom: -3px;
			left: 50%;
			width: 0;
			height: 3px;
			background-color: $primary;
			transition: width 0.5s, left 0.5s;
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				&::after {
					left: 0;
					width: 100%;
				}
			}
		}
		&--active {
			&::after {
				left: 0;
				width: 100%;
			}
		}
		@media (max-width: toEm(1200)) {
			font-size: 18px;
		}
		@media (max-width: toEm($mobile)) {
			font-size: 24px;
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: toEm($tablet)) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - 1px);
		}
		[data-fls-menu-open] & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - 1px);
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}
}
