// <SELECT>
// Сніппет (HTML): sel

.select {
	min-width: 0;
	position: relative;
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		color: rgba(51, 51, 51, 0.8);
		text-align: left;
		cursor: pointer;
		width: 100%;
		border-radius: 4px;
	}
	// .select__value
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		gap: 10px;
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: '\f122';
			font-family: iconfont;
			font-size: 14px;
			align-self: stretch;
			flex: 0 0 10px;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&.--select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
		.--select-open & {
			&:after {
				transform: rotate(180deg);
			}
		}
	}

	// .select__content
	&__content {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		gap: 7px;
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	// .select__text
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__input {
		padding: 0 10px;
		width: 100%;
		background-color: transparent;
		height: 100%;
		.--select-active & {
			&::placeholder {
				color: #000;
			}
		}
		.--select-focus & {
			&::placeholder {
				opacity: 0.5;
			}
		}
	}
	// .select__options
	&__options {
		position: absolute;
		top: calc(100% - toRem(1));
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		padding: 10px 0px;
		border-radius: 0 0 12px 12px;
		box-shadow: 0px 2px 3px 0px rgb(51, 51, 51, 0.4);
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: toRem(200);
		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 12px 16px;
		color: rgba(51, 51, 51, 0.8);
	}

	// Конструкція додаткових даних
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	&--show-top {
		.select__options {
			top: auto;
			bottom: calc(100% - toRem(1));
			border: 1px solid #d9d9d9;
			border-bottom: 0;
			border-radius: 4px 4px 0 0;
			padding: 5px 0px 10px 0px;
		}
	}

	&:has(.select--switcher) {
		.select__option {
			border-radius: 20px;
			transition: background-color 0.3s;
			@media (max-width: toEm($tablet)) {
				padding: 10px 0;
			}
			@media (any-hover: hover) {
				&:hover {
					background-color: rgba(255, 255, 255, 0.2);
				}
			}
		}
	}
	&:has(.select--bg) {
		.select__options,
		.select__title {
			background-color: #fff;
		}
		.select__title {
			padding: 12px 16px;
		}

		.select__option {
			&:not(:last-child) {
				border-bottom: 1px solid #efefef;
			}
			@media (any-hover: hover) {
				&:hover {
					background: #d9d9d9;
				}
			}
		}
	}

	&:has(.select--light-font) {
		.select__title,
		.select__option {
			color: rgba(255, 255, 255, 0.8);
		}
	}

	// Стан селекту
	&.--select-open {
	}
	&.--select-disabled {
	}
	&.--select-active {
	}
	&.--select-focus {
	}
	&.--select-multiple {
	}
	&.--select-checkbox {
	}
}

// Тег
.--select-tag {
	cursor: pointer;
}
