<footer data-fls-footer class="footer">
	<div class="footer__container">
		<div class="footer__head">
			<img src="@img/icons/logo.png" alt="logo" class='footer__logo logo'>
		</div>
		<div data-fls-spollers="767.98,max" data-fls-spollers-one class="footer__content">
			<details class="footer__spoller spoller-footer">
				<summary class="spoller-footer__title">Services</summary>
				<ul class="spoller-footer__list">
					<li class="spoller-footer__item"><a href='#'>Bike and Rickshaw rental</a></li>
					<li class="spoller-footer__item"><a href='#'>Guided Tours of Lucca</a></li>
					<li class="spoller-footer__item"><a href='#'>Guided Bike Tour of Lucca</a></li>
					<li class="spoller-footer__item"><a href='#'>Trip In The Tuscan Hills</a></li>
					<li class="spoller-footer__item"><a href='#'>Transportation With Luxury Cars</a></li>
					<li class="spoller-footer__item"><a href='#'>Wine Tours By Bus With Guide</a></li>
				</ul>
			</details>
			<details class="footer__spoller spoller-footer">
				<summary class="spoller-footer__title">Home</summary>
				<ul class="spoller-footer__list">
					<li class="spoller-footer__item"><a href='home'>Home</a></li>
					<li class="spoller-footer__item"><a href='about'>About Us</a></li>
					<li class="spoller-footer__item"><a href='packages'>Tour Packages</a></li>
				</ul>
			</details>
			<details class="footer__spoller spoller-footer">
				<summary class="spoller-footer__title">Help</summary>
				<ul class="spoller-footer__list">
					<li class="spoller-footer__item"><a href='#'>Terms of Use</a></li>
					<li class="spoller-footer__item"><a href='#'>Provicy Policy</a></li>
				</ul>
			</details>
			<details class="footer__spoller spoller-footer" data-fls-spollers-open>
				<summary class="spoller-footer__title">Contacts</summary>
				<ul class="spoller-footer__list">
					<li class="spoller-footer__item"><a class='--icon-location' href="https://www.google.com/maps/place/Piazza+Napoleone/@43.8413158,10.4999005,17z/data=!3m1!4b1!4m6!3m5!1s0x12d5838a3eaeea65:0x43e725ce10ef59f5!8m2!3d43.841312!4d10.5024754!16s%2Fg%2F121tbxk0?entry=ttu&g_ep=EgoyMDI1MTIwMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">Piazza Napoleone, Lucca, Tuscany</a></li>
					<li class="spoller-footer__item"><a class='--icon-mail' href="mailto:italiainlimo@gmail.com">italiainlimo@gmail.com</a></li>
					<li class="spoller-footer__item"><a class='--icon-phone' href="tel:+393463685708">+39 346 368 5708</a></li>
				</ul>
			</details>
			<div data-fls-dynamic=".footer__head, 991.98, 1" class='footer__media spoller-footer'>
				<div class="spoller-footer__title--alone">Social Media</div>
				<ul class="spoller-footer__media-list list-media">
					<li class="list-media__item"><a class='--icon-twitter' href="#"></a></li>
					<li class="list-media__item"><a class='--icon-facebook' href="#"></a></li>
					<li class="list-media__item"><a class='--icon-inst' href="#"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<p class='footer__copyright'>Copyright © 2025. All rights reserved.</p>
</footer>